* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-image: url('../src/images/background.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #fff;
} */

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-image: url('../src/images/background.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  color: white; 
}


button {
  color: white;
}



a {
  text-decoration: none;
  color: inherit;
}

h1, h2, h3, p, label {
  font-weight: bold;
  color: white;
}

main {
  padding: 20px;
}

